.classpath
.project
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.vscode/launch.test.json
.vscode/settings.json
target/PizzaParty-1.0-SNAPSHOT.jar
target/classes/com/revature/App.class
target/classes/com/revature/entity/Calculatable.class
target/classes/com/revature/entity/Customer.class
target/classes/com/revature/entity/OnlineOrder.class
target/classes/com/revature/entity/Order.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/TEST-com.revature.CustomerTest.xml
target/surefire-reports/com.revature.CustomerTest.txt
target/test-classes/com/revature/CustomerTest.class
/target/
